.scroll__top {
    position: fixed;
    bottom: 0; 
    right: 1rem;
    width:2.5rem;
    background-color: #2c344b;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

